.container {
  margin: 10px;
}

.title {
  font-size: 20px;
}

.author {
  font-style: italic;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
}

.poster {
  padding: 20px 205px 20px 205px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}